.D0gRun {
    width: 100%;
    text-align:center;
}

canvas {
    display: inline;
    /* width:  200px;
    height: 200px;
    margin: 0; */
    /* height: 100%;
    width: 100%;
    text-align:center; */


    border: 1px solid rgb(0, 0, 0);
    background: url('green.jpg');
    background-size: contain;
    background-repeat: repeat;
    

    left: 50% ;
    top: 50% ;
    transform: translate(-50%, -50%);
    position: fixed;

};



